.row {
    flex-direction: row;
    margin-left: 0rem;
    width: calc(100%);
}

.row .column.column-4 {
    flex: 0 0 4%;
    width: 4rem;
    max-width: 4rem;
    min-width: 4rem;
    margin-left: 0rem;
    padding-left: 0rem;
}

.column.column-offset-4 {
    margin-left: 4rem;
}

textarea {
    resize: vertical;
    margin-bottom: 0rem;
    height: 8rem;
}

input.button {
    margin-left: 0.5rem;
    padding: 0 1.5rem;
}

label {
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

label.score {
    margin-right: 0rem;
    margin-top: 0rem
}

.center {
    text-align: center;
}

button.vote {
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 0.8rem;
    padding-top: 1rem;
    height: 0rem;
    letter-spacing: 0rem;
    line-height: 0rem;
    margin: auto;
}

.comment-text {
    margin-top: 0.4rem;
    border-radius: .4rem;
    text-align: justify;
    background: #EDE7F6;
}

.score {
    margin-top: 0rem;
    margin-bottom: -0.4rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

html {
    width: 50%;
}

input[type="text"] {
    min-width: 25rem;
}

.footer {
    margin-bottom: 0.8rem;
}

.inline {
    display: inline-block;
}

.reply {
    width: 95.5%;
    float: right;
}