#comments{
    width: 50%;
}

#comments textarea{
    width: 99.3%;
    resize: vertical;
    min-height: 5em;
}

#comments-submitDiv{
    text-align: right;
}

#comments-text{
    text-align: justify;
}